{% extends 'app/base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
<div class="g" style="background-color: #FFFFE8;">
<div class="container px-4 px-lg-5">
    <div class="gg">
        {% if searched %}
        <h1>You searched for {{ searched }}</h1>
        {% else %}
        <h1>You didn't search anything.</h1>
        {% endif %}
    </div>
</div>
</div>
<section>
<div class="container px-4 px-lg-5 back">
    <div class="container px-4 px-lg-5">
      <div class="col-lg-8 col-md-10 mx-auto content">
          {% for game in games %}
            <div class="card" style="width: 18rem; margin-top: 20px; margin-left: 60px; text-align: center; display: inline-block; border-color: black; margin-bottom: 10px;" id="card">
                <a href="{% url 'game-detail' game.id %}">
                    <img src="{{ game.image_url }}" class="card-img-top">
                </a>
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">{{ game.title }}</h5>
                <p class="card-text" style="text-align: center;">Price: {{ game.price }}$</p>
                <a class="btn btn-success" href="{% url 'add_to_cart' game.id %}">Add to <i class="bi bi-cart4"></i></a>
                  {% if user.is_superuser %}
                  <a class="btn btn-dark" href="{% url 'game-update' game.id %}">Update</a>
                  <a class="btn btn-danger" href="{% url 'game-delete' game.id %}">Delete</a>
                    {% endif %}
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
</section>
{% endblock %}